<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Trip | Travel in Time</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="edit past trip">
    <link rel="stylesheet" href="/static/style.css">
  </head>
<body id="edit">
  <div class="background-image"></div>
  <header role="banner">
    <h1>Travel in Time</h1>
    <h1>Explore past, present, and future trips.</h1>
    <nav role="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new">Create New Trip</a></li>
        <li><a href="/history">View Past Trips</a></li>
      </ul>
    </nav>
  </header>
  <main role="main">
  <form data-trips="form" class="edit" id="0">
    <section>
        <h3>General Info</h3>
        <div class="inner-wrap">
          <label>Enter the title of your trip.
            <input type="text" name="title">
          </label>
          <label>Enter the location of your trip.
            <input type="text" name="place">
          </label>
          <label>Enter the start date of your trip.
            <input type="text" name="startDate">
          </label>
          <label>Enter the end date of your trip.
            <input type="text" name="endDate">
          </label>
      </div>
    </section>
    <section>
      <h3>Transportation</h3>
        <div class="inner-wrap">
          <div class="addtransportation">
          </div>
          <button type="button" class="transportation">Add another transportation item</button>
         </div>
    </section>
    <section>
      <h3>Residence</h3>
      <div class="inner-wrap">
        <div class="addresidence">
        </div>
        <button type="button" class="residence">Add another residence item</button>
      </div>
    </section>
    <section>
      <h3>Restaurants</h3>
      <div class="inner-wrap">
        <div class="addrestaurant">
        </div>
        <button type="button" class="restaurant">Add another restaurant</button>
       </div>
    </section>
    <section>
      <h3>Activties</h3>
      <div class="inner-wrap">
        <div class="addactivity">
        </div>
        <button type="button" class="activity">Add another activity</button>
       </div>
    </section>
    <button type="submit" class="button-edit">Submit Updates</button>
    <button class="button-delete">Delete Trip</button>
  </form>

  <div class="success-screen" hidden>
      <p>You have successfully updated your trip! You may now <a href="/history">View Past Trips</a> or <a href="/new">Create a New Trip</a></p>
  </div>
  <div class="delete-screen" hidden>
      <p>You have successfully deleted your trip! You may now <a href="/history">View Past Trips</a> or <a href="/new">Create a New Trip</a></p>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
  <script src="/static/formhandler.js"></script>
  <script src="/static/trip.js"></script>
  <script src="/static/datastore.js"></script>
  <script src="static/app.js"></script>
</main>
</body>
</html>
