<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Home | Travel App</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="view all past trips">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/style.css">
  </head>
  <body id="history">
    <div class="background-image"></div>
    <header role="banner">
      <h1>Travel App</h1>
      <h1>Explore past, present, and future Travel</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/new">Create New Trip</a></li>
          <li><a class="active" href="/history">View Past Trips</a></li>
        </ul>
      </nav>
    </header>
    <main role="main">
      <div class="past-trips-list">
        <h2>Past Trips</h2>
        <div class="past-trips">
        <ul class="container">
        </ul>
        </div>
      </div>
    </main>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
  <script src="formhandler.js"></script>
  <script src="trip.js"></script>
  <script src="datastore.js"></script>
  <script src="history.js"></script>

 </body>
</html>
