<!DOCTYPE html>
<html lang ='en'>
<head>
  <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Pantry Meal</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
  <nav>
    <ul>
      <li>Log In</li>
      <li>Sign Up</li>
    </ul>
  </nav>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <main role="main">
  <header role="banner">Travel App</header>
  <h1>Explore past, present, and future Travel</h1>
  <form class="homescreen">
    <h2>Select one of the following buttons.</h2>
    <button type="submit">Create a new Trip</button>
    <button type="submit">View Past Trips</button>
  </form>

  <form class="update-past-trip-form" hidden>
    <div class="update-past-trip">
        <h3>General Info</h3>
        <form class="general-info">
          <div class="general-info-html">
            <label>Enter the title of your trip.
              <input type="text" name="title">
            </label>
            <label>Enter the location of your trip.
              <input type="text" name="location">
            </label>
            <label>Enter the start date of your trip.
              <input type="text" name="start-date">
            </label>
            <label>Enter the end date of your trip.
              <input type="text" name="end-date">
            </label>
          </div>
        </form>
        <h3>Travel</h3>
        <form class="travel">
          <div class="travel-html">
            <label>Enter the type of transportation for this trip.
              <input type="text" name="airport">
            </label>
            <label>Enter more information about your travel.
              <input type="text" name="flight-information">
            </label>
          </div>
          <button type="submit">Add another travel item</button>
        </form>
        <h3>Residence</h3>
        <form class="residence">
          <div class="residence-html">
            <label>Enter the place you stayed at during your trip.
              <input type="text" name="hotel">
            </label>
            <label>Enter more information about your place of stay.
              <input type="text" name="hotel-information">
            </label>
          </div>
          <button type="submit">Add another residence item</button>
        </form>
        <h3>Restaurants</h3>
        <form class="restaurants">
          <div class="restaurants-html">
            <label>Enter a restaurant you visited during your trip.
              <input type="text" name="restaurant">
            </label>
            <label>Enter more information about the restaurant.
              <input type="text" name="restaurant-information">
            </label>
          </div>
          <button type="submit">Add another restaurant</button>
        </form>
        <h3>Activties</h3>
        <form class="activities">
          <div class="activities-html">
            <label>Enter an activtiy you did during your trip.
              <input type="text" name="activity">
            </label>
            <label>Enter more information about the activity.
              <input type="text" name="activity-information">
            </label>
          </div>
          <button type="submit">Add another activity</button>
        </form>
      <button type="submit" class="submit-trip-button">Submit Updated Trip</button>
      <button type="submit" class="new-trip-button">Create a new Trip</button>
      <button type="submit" class="homescreen-button">Return to Homescreen</button>
    </div>
  </form>

  <form class="create-a-trip-forms">
    <div class ="create-a-trip-form" hidden>
      <h3>General Info</h3>
        <form class="general-info">
          <div class="general-info-html">
            <label>Enter the title of your trip.
              <input type="text" name="title">
            </label>
            <label>Enter the location of your trip.
              <input type="text" name="location">
            </label>
            <label>Enter the start date of your trip.
              <input type="text" name="start-date">
            </label>
            <label>Enter the end date of your trip.
              <input type="text" name="end-date">
            </label>
          </div>
        </form>
      <h3>Travel</h3>
        <form class="travel">
          <div class="travel-html">
            <label>Enter the type of transportation for this trip.
              <input type="text" class="travel-input" name="airport">
            </label>
            <label>Enter more information about your travel.
              <input type="text" name="flight-information">
            </label>
          </div>
          <button type="submit">Add another travel item</button>
        </form>
      <h3>Residence</h3>
        <form class="residence">
          <div class="residence-html">
            <label>Enter the place you stayed at during your trip.
              <input type="text" name="hotel">
            </label>
            <label>Enter more information about your place of stay.
              <input type="text" name="hotel-information">
            </label>
          </div>
          <button type="submit">Add another residence item</button>
        </form>
      <h3>Restaurants</h3>
        <form class="restaurants">
          <div class="restaurants-html">
            <label>Enter a restaurant you visited during your trip.
              <input type="text" name="restaurant">
            </label>
            <label>Enter more information about the restaurant.
              <input type="text" name="restaurant-information">
            </label>
          </div>
          <button type="submit">Add another restaurant</button>
        </form>
      <h3>Activties</h3>
        <form class="activities">
          <div class="activities-html">
            <label>Enter an activtiy you did during your trip.
              <input type="text" name="activity">
            </label>
            <label>Enter more information about the activity.
              <input type="text" name="activity-information">
            </label>
          </div>
          <button type="submit">Add another activity</button>
        </form>
      <button type="button" class="submit-trip-button">Submit New Trip</button>
      <button type="button" class="new-trip-button">Create a new Trip</button>
      <button type="button" class="homescreen-button">Return to Homescreen</button>
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
  <script src="app.js"></script>
</main>
</body>
</html>
