<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>History | Travel App</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FILL THIS IN LATER">
    <!-- unique for each file description and title  -->
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/style.css">
  </head>
  <body id="index">
    <header role="banner">
      <h1>Travel App</h1>
      <h2>Explore past, present, and future Travel</h2>
      <nav>
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/new">Create New Trip</a></li>
          <li><a href="/history">View Past Trips</a></li>
        </ul>
      </nav>
    </header>
    <main role="main">
      <section>
        <p>Travel App allows users to add, edit, remove, and view trips in the past, present, and future. Select one of the items above to get started!</p>
      </section>
    </main>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script> -->
    <!-- <script src="formhandler.js"></script>
    <script src="app.js"></script> -->
  </body>
</html>
