<!DOCTYPE html>
<html lang ='en'>
<head>
  <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Travel App</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
  <nav>
    <ul>
      <li>Log In</li>
      <li>Sign Up</li>
    </ul>
  </nav>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <main role="main">
  <header role="banner">Travel App</header>
  <h1>Explore past, present, and future Travel</h1>
  <form class="homescreen">
    <h2>Select one of the following buttons.</h2>
    <a href="/new">Create New Trip</a>
    <a href="/past-trips">View Past Trips</a>
  </form>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
  <script src="app.js"></script>
</main>
</body>
</html>
