<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>New Trip | Travel in Time</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="new trip creation form">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/style.css">
  </head>
  <body id="new">
    <div class="background-image"></div>
    <header role="banner">
      <h1>Travel in Time</h1>
      <h1>Explore past, present, and future trips.</h1>
      <nav role="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a class="active" href="/new">Create New Trip</a></li>
          <li><a href="/history">View Past Trips</a></li>
        </ul>
      </nav>
    </header>
    <main role="main">
      <form data-trips="form" class="new">
        <section>
          <h3>General Info</h3>
              <div class="inner-wrap">
                <label>Enter the title of your trip.
                  <input type="text" name="title">
                </label>
                <label>Enter the location of your trip.
                  <input type="text" name="place">
                </label>
                <label>Enter the start date of your trip.
                  <input type="text" name="startDate">
                </label>
                <label>Enter the end date of your trip.
                  <input type="text" name="endDate">
                </label>
              </div>
        </section>
        <section new-transportation="repeating">
          <h3>Transportation</h3>
            <div class="inner-wrap">
              <label>Enter the type of transportation for this trip.
                <input type="text" name="transType">
              </label>
              <label>Enter more information about your transportation.
                <input type="text" name="transInformation">
              </label>
            <div class="addtransportation">
            </div>
            <button type="button" class="transportation">Add another transportation item</button>
          </div>
        </section>
        <section new-residence="repeating">
          <h3>Residence</h3>
            <div class="inner-wrap">
              <label>Enter the the type of residence for this trip.
                  <input type="text" name="residenceName">
                </label>
                <label>Enter more information about your residence.
                  <input type="text" name="residenceInformation">
                </label>
              <div class="addresidence">
              </div>
              <button type="button" class="residence">Add another residence item</button>
            </div>
        </section>
        <section new-restaurant="repeating">
          <h3>Restaurants</h3>
            <div class="inner-wrap">
              <label>Enter the type of restaurant for this trip.
                <input type="text" name="restaurantName">
              </label>
              <label>Enter more information about your restaurant.
                <input type="text" name="restaurantInformation">
              </label>
              <div class="addrestaurant">
              </div>
              <button type="button" class="restaurant">Add another restaurant</button>
            </div>
        </section>
        <section new-activity="repeating">
          <h3>Activities</h3>
            <div class="inner-wrap">
              <label>Enter the type of activtiy for this trip.
                <input type="text" name="activityName">
              </label>
              <label>Enter more information about your activity.
                <input type="text" name="activityInformation">
              </label>
              <div class="addactivity">
              </div>
              <button type="button" class="activity">Add another activity</button>
            </div>
        </section>

        <button type="submit" class="button-new">Submit</button>
      </form>

      <div class="success-screen" hidden>
          <p>You have successfully submitted your trip! You may now <a href="/history">View Past Trips</a> or to <a href="/new">Create a New Trip.</a></p>
      </div>
      </main>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
      <script src="formhandler.js"></script>
     <script src="trip.js"></script>
     <script src="datastore.js"></script>
      <script src="app.js"></script>
    </body>
</html>
