* {
  box-sizing: border-box;
}

body {
  background: url('http://www.powerpointhintergrund.com/uploads/ocean-water-background-29.jpeg');
  background-size: cover;
  height: auto;
}


ul, .past-trip {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 70%;
}


h1 {
  margin: auto;
  text-align: center;
  margin: 20px;
  font: 3.5em 'Bitter', serif;
  text-decoration: bold;
  color: #0a394c;
  line-height: 120%;
}

li {
  display: inline;
  float: left;
  width: 33.33%;
}

li a {
  display: block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: #FFF;
  font-size: 1.5em;
  color: #0a394c;
  margin-top: 2px;
}

li a:hover {
  background: #ADADAD;
  color: #fff;
}

.active {
  background-color: #2A88AD;
  color: #fff;
}

.past-trip a {
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  background-color: #2A88AD;
}

form, .past-trips-list, .intro-text {
  width: 70%;
  padding:30px;
  margin:40px auto;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.13);
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.13);
}

.past-trips, .success-screen, .delete-screen {
  height: 400px;
  border: 1px solid  #2A88AD;
  border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border:2px solid #fff;
  box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  padding: 20px;
  background: #F8F8F8;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.past-trips {
  background-color: #2A88AD;
  margin: auto;
  width: 100%;
  margin-top: 0;
  border: 2px solid #2A88AD;
}

.past-trips-list {
  padding: 0;
}

.container, .past-trips{
  overflow: auto;
}

form .inner-wrap {
  padding: 20px;
  background: #F8F8F8;
  border-radius: 6px;
  margin: 15px;
}

.past-trips p {
  font-size: 20px;
}

form h3, h2 {
  background: #2A88AD;
  padding: 20px;
  margin: -30px;
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  color: #fff;
  text-shadow:1px 1px 3px rgba(0,0,0,0.12);
  font:normal 30px 'Bitter', serif;
  -moz-box-shadow:inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
}

h2, .intro-text div {
  text-align: center;
  color: #fff;
  font: normal 1.4em 'Bitter', serif;
}

form label, form input {
  display: block;
  color: #888;
  margin-bottom: 15px;
  font: 1em Arial Helvetica, sans-serif;
}

form input, .past-trip {
  display: block;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  width:100%;
  padding:8px;
  border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border:2px solid #fff;
  box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.intro-text p {
  font: normal 1.3em 'Bitter', serif;
}

.past-trip {
   border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  text-align: center;
  margin: auto;
  display: block;
  border: 1px solid #2A88AD;
  background: #fff;
  color: #0a394c;
  width: 75%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.past-trip a {
  color: #0a394c;
  background:#fff;
}

form section {
 font: normal 20px 'Bitter', serif;
 color: #2A88AD;
 margin-bottom: 5px;
}

form button {
  background: #2A88AD;
  padding: 8px;
  border-radius: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal .8em 'Bitter', serif;
  border: 1px solid #257C9E;
  box-shadow:inset 0px 2px 2px rgba(0, 0, 0, 0.17);
  -moz-box-shadow:inset 0px 2px 2px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.17);
}

form button[type="submit"], .button-delete {
  font: normal 1.2em 'Bitter', serif;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}

form button:hover{
   box-shadow:inset 0px 2px 2px rgba(0, 0, 0, 0.30);
  -moz-box-shadow:inset 0px 2px 2px rgba(0, 0, 0, 0.30);
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.30);
  background: #2A6881;
}

.success-screen, .delete-screen {
  width: 70%;
  height: 200px;
  padding-top: 50px;
  text-align: center;
  background: #2A88AD;
  color: #fff;
  border: 5px solid #154f66;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  font-size: 20px;
}

@media only screen and (max-width : 480px) {
  h2, form h3, .past-trip a , .intro-text p, form input, form label {
   font-size: .8em;
  }

  h1 {
    font-size: 1.3em;
  }

  li a {
    font-size: 1em;
    padding-top: 8px;
    padding-bottom: 5px
    height: 45px;
  }

  ul, form, .intro-text, .past-trips-list {
    width: 90%;
  }

  .intro-text p {
    font-size: 1em;
  }

  .intro-text {
    padding-bottom: 40px;
    margin-bottom: 100px;
  }

  .past-trip a, form label, .past-trip p, form button[type="submit"], .button-delete  {
    font-size: .7em;
  }

  form button {
    font-size: .6em;
  }

  .past-trip p, .past-trip a {
    font-size: 1em;
  }

}

@media only screen and (max-width : 650px) and (min-width : 481px) {
  li a, .past-trip p {
    font-size: 1em;
  }

  h2, form h3, .past-trip a , .intro-text p, form input, form label {
   font-size: 1em;
  }

  ul, form, .intro-text, .past-trips-list {
    width: 90%;
  }

  h1 {
    font-size: 1.5em;
  }

}
